Repository kubernetes-sigs/jobset, pull requests merged in 2025-08, with the labels that each got.

#958 Change IndividualJobRecreates to IndividualJobStatus.Recreates
  api/jobset/v1alpha2/jobset_types.go
  api/jobset/v1alpha2/openapi_generated.go
  api/jobset/v1alpha2/zz_generated.deepcopy.go
  client-go/applyconfiguration/jobset/v1alpha2/individualjobstatus.go
  client-go/applyconfiguration/jobset/v1alpha2/jobsetstatus.go
  client-go/applyconfiguration/utils.go
  config/components/crd/bases/jobset.x-k8s.io_jobsets.yaml
  hack/python-sdk/swagger.json
  pkg/controllers/failure_policy.go
  pkg/controllers/jobset_controller.go
  sdk/python/.openapi-generator/FILES
  sdk/python/jobset/__init__.py
  sdk/python/jobset/models/__init__.py
  sdk/python/jobset/models/jobset_v1alpha2_individual_job_status.py
  sdk/python/jobset/models/jobset_v1alpha2_job_set_status.py
  sdk/python/test/test_jobset_v1alpha2_individual_job_status.py
  sdk/python/test/test_jobset_v1alpha2_job_set.py
  sdk/python/test/test_jobset_v1alpha2_job_set_list.py
  sdk/python/test/test_jobset_v1alpha2_job_set_status.py
  test/integration/controller/jobset_controller_test.go
Labels: cncf-cla: yes, ok-to-test, size/XL, lgtm, kind/api-change, approved

#974 chore(manifests): Set SeccompProfile in the default JobSet manifests
  charts/jobset/README.md
  charts/jobset/values.yaml
  config/components/manager/manager.yaml
Labels: kind/feature, cncf-cla: yes, lgtm, approved, size/S

#978 chart(jobset): add controller.hostNetwork toggle
  charts/jobset/README.md
  charts/jobset/templates/controller/deployment.yaml
  charts/jobset/values.yaml
  site/content/en/docs/reference/jobset.v1alpha2.md
Labels: kind/feature, cncf-cla: yes, ok-to-test, size/M, lgtm, approved

#982 Revert RecreateJob failure policy action addition
  api/jobset/v1alpha2/jobset_types.go
  api/jobset/v1alpha2/openapi_generated.go
  api/jobset/v1alpha2/zz_generated.deepcopy.go
  charts/jobset/crds/jobset.x-k8s.io_jobsets.yaml
  client-go/applyconfiguration/jobset/v1alpha2/individualjobstatus.go
  client-go/applyconfiguration/jobset/v1alpha2/jobsetstatus.go
  client-go/applyconfiguration/utils.go
  config/components/crd/bases/jobset.x-k8s.io_jobsets.yaml
  hack/python-sdk/swagger.json
  keps/262-ConfigurableFailurePolicy/README.md
  pkg/constants/constants.go
  pkg/controllers/failure_policy.go
  pkg/controllers/failure_policy_test.go
  pkg/controllers/jobset_controller.go
  pkg/controllers/jobset_controller_test.go
  sdk/python/.openapi-generator/FILES
  sdk/python/jobset/__init__.py
  sdk/python/jobset/models/__init__.py
  sdk/python/jobset/models/jobset_v1alpha2_individual_job_status.py
  sdk/python/jobset/models/jobset_v1alpha2_job_set_status.py
  sdk/python/test/test_jobset_v1alpha2_individual_job_status.py
  sdk/python/test/test_jobset_v1alpha2_job_set.py
  sdk/python/test/test_jobset_v1alpha2_job_set_list.py
  sdk/python/test/test_jobset_v1alpha2_job_set_status.py
  site/content/en/docs/reference/jobset.v1alpha2.md
  site/content/en/docs/tasks/failure_policy.md
  site/static/examples/failure-policy/recreatejob-action.yaml
  test/integration/controller/jobset_controller_test.go
Labels: cncf-cla: yes, ok-to-test, size/XXL, lgtm, kind/cleanup, kind/api-change, approved
